.gradle
/local.properties
proguard/
.idea/
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.log
bin/
gen/
.navigation/
*.iml
*.ipr
*.iws
/out/
.idea_modules/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
